
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{home.title}"></title>
<script th:inline="javascript">
/*<![CDATA[*/
	
var serverContext = [[@{/}]];
	
	
$(document).ready(function() {
	$('#mensajeErrorUsuarioNoEncontrado').hide();
	$('#mensajeExitoRecuperacion').hide();
	
  	$('.dropify').dropify();
  	addControlState(document.getElementById('divLogin'),/*[[#{campo.requerido}]]*/);
  	
  	$("#recuperaContraseniaPeticionform").submit(function(e) {
  		$('#mensajeErrorUsuarioNoEncontrado').hide();
  		$('#mensajeExitoRecuperacion').hide();
  	    e.preventDefault();
  	    recuperarContrasenia();
  	    $("#recuperaContraseniaPeticionform")[0].reset();
  	    return false;

  	  });
});



function recuperarContrasenia(){

	
	var login= $("#login").val();
	
	var obj = { "login": login};
	
	$.post(serverContext + "api/usuarios/recuperar-contrasenia",obj ,function(data, status, xhr){
		console.log('Http status ' , xhr.status);
		console.log('Data ' , data);
		if( 200 == xhr.status){
			if(data == "false"){
			 	  $('#mensajeErrorUsuarioNoEncontrado').show();
			 	  $("#divLogin").removeClass('has-danger').removeClass('has-success');
			 	  return;
			  }else{
				  $('#mensajeExitoRecuperacion').show();
				  $("#recuperaContraseniaBtn").prop("disabled", true);
			  }
			$("#divLogin").removeClass('has-danger').removeClass('has-success');
		}
    }).fail(function(err) {
    	console.log('Http status ' , err.status);
    	console.log('Error ' , err.responseText);
    	$("#divLogin").removeClass('has-danger').removeClass('has-success');
   });
}

// function recuperarContrasenia(){
// 	var login = $("#login").val();
// 	$.get(serverContext + "api/usuarios/" + login +"/recuperar-contrasenia", function( data ) {
// 		  console.log( data );
// 		  if(data == "false"){
// 		 	  $('#mensajeErrorUsuarioNoEncontrado').show();
// 		 	  return;
// 		  }else{
// 			  $('#mensajeExitoRecuperacion').show();
// 			  $("#recuperaContraseniaBtn").prop("disabled", true);
// 		  }
// 		})
// 		.fail(function( error ) {
// 		    alert( "error" + error );
// 		  })
// }

/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
				 <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{usuario.recuperacontrasenia.peticion.titulo}"></h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-gesco-secundario" th:href="@{/login}" th:text="#{usuario.recuperacontrasenia.login}"></a></li>
                            <li class="breadcrumb-item active" th:text="#{usuario.recuperacontrasenia.peticion.titulo}"></li>
                        </ol>
                    </div>
                </div>
		         <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title" th:text="#{usuario.recuperacontrasenia.peticion.titulo}"></h4>
                                <h6 class="card-subtitle" th:text="#{usuario.recuperacontrasenia.peticion.subtitulo}"></h6>
                                <form name="recuperaContraseniaPeticionform" action="#" th:object="${recuperacionContraseniaCorreoDto}" method="post" 
									class="form-control-line" id="recuperaContraseniaPeticionform" >
									<div id="mensajeErrorUsuarioNoEncontrado" class="alert alert-danger  m-t-20"> <i class="ti-user"></i>  <span th:text="#{usuario.recuperacontrasenia.error.usuarionoencontrado}"></span>
				                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
				                    </div>
				                    <div id="mensajeExitoRecuperacion" class="alert alert-info  m-t-20"> <i class="ti-user"></i>  <span th:text="#{usuario.recuperacontrasenia.ok}"></span>
				                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
				                    </div>
									<div id="divLogin" th:class="${#fields.hasErrors('login')}? 'form-group has-danger':'form-group'">
										<div class="col-xs-12">
											<input id="login" class="form-control" type="text" th:field="*{login}" required th:placeholder="#{usuario.recuperacontrasenia.login.correo}">
											<span class="form-control-feedback">
												<span th:if="${#fields.hasErrors('login')}" th:errors="login"></span>
<!-- 								                <span th:text="#{campo.requerido}"></span> -->
								            </span>
										</div>
									</div>
									<div class="col-md-12 m-b-20">
	                                    <button id="recuperaContraseniaBtn" type="submit" class="btn btn-info-gesco waves-effect" th:text="#{boton.recuperar}"></button>
	                                    <a th:href="@{/login}" class="btn btn-secondary waves-effect" th:text="#{boton.regresar}"></a>
	                                </div>
								</form>
                            </div>
                        </div>
			</div>
		</div>
		</div>
	</div>
</body>
</html>
