
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{home.title}"></title>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
  $('.dropify').dropify();
  addControlState(document.getElementById('divContrasenia'),/*[[#{campo.requerido}]]*/);
  addControlState(document.getElementById('divConfirmacionContrasenia'),/*[[#{campo.requerido}]]*/);
});
/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
				 <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{usuario.recuperacontrasenia}"></h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-gesco-secundario" th:href="@{/login}" th:text="#{usuario.recuperacontrasenia.login}"></a></li>
                            <li class="breadcrumb-item active" th:text="#{usuario.recuperacontrasenia}"></li>
                        </ol>
                    </div>
                </div>
		         <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title" th:text="#{usuario.recuperacontrasenia}"></h4>
<!--                                 <h6 class="card-subtitle" th:text="#{usuario.recuperacontrasenia.subtitulo}"></h6> -->
                                <form name="verificarUsuarioForm" action="#" th:action="@{/usuarios/recuperar-contrasenia/}" th:object="${recuperaContraseniaDto}" method="post" class="form-control-line m-t-40">
                                   	<div th:if="${#fields.hasGlobalErrors()}" >
	                                	<p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
	<!-- 				                    <div class="alert alert-danger  m-t-20"> <i class="ti-user"></i>  <span th:text="#{label.login.error.autenticacion}"></span> -->
	<!-- 			                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> -->
	<!-- 			                        </div> -->
					                </div>
                                    <input type="hidden" class="form-control" th:field="*{token}" th:value="${recuperaContraseniaDto.token}"/>
                                    <div id="divContrasenia" th:class="${#fields.hasErrors('contrasenia')}? 'form-group has-danger':'form-group'">
                                        <label th:text="#{usuario.contrasenia}"></label>
                                        <input type="password" class="form-control" required th:field="*{contrasenia}" pattern="^[\w\s]{8,25}$" th:title="#{usuario.contrasenia.mensaje.validacion}"> 
                                        <span class="form-control-feedback">
							                <span th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}"></span>
							              </span>
                                    </div>
                                    <div id="divConfirmacionContrasenia" th:class="${#fields.hasErrors('confirmacionContrasenia')}? 'form-group has-danger':'form-group'">
                                        <label th:text="#{usuario.recuperacontrasenia.contrasenia}"></label>
                                        <input type="password" class="form-control" required th:field="*{confirmacionContrasenia}"  pattern="^[\w\s]{8,25}$" th:title="#{usuario.contrasenia.mensaje.validacion}"> 
                                         <span class="form-control-feedback">
						                	<span th:if="${#fields.hasErrors('confirmacionContrasenia')}" th:errors="*{confirmacionContrasenia}"></span>
						              	</span>
                                    </div>
                                    <div class="col-md-12 m-b-20">
	                                    <button type="submit" class="btn btn-info-gesco waves-effect" th:text="#{boton.guardar}"></button>
	                                </div>
                                   
                                </form>
                            </div>
                        </div>
			</div>
		</div>
		</div>
	</div>
</body>
</html>
