<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{areaComun.titulo}"></title>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function() {
    $('.modal-show').click(function(event) {
      event.preventDefault();
      var id = $(this).data('id')
      var nombre = $(this).data('nombre')

      var modal = $("#modalEliminar")
      var mensaje = /*[[#{areacomun.modal.mensaje.eliminar}]]*/
      modal.find('.modal-title').text(/*[[#{modal.eliminar.encabezado}]]*/)
      modal.find('.modal-body p').text(mensaje.format(nombre))
      modal.find('.modal-footer a').attr('href', '/catalogos/area-comun-eliminar/' + id).text(/*[[#{boton.eliminar}]]*/)
      modal.modal("show");
    });
    
  });
  /*]]>*/
</script>
</head>
<body>
  <div layout:fragment="content">
    <div class="container-fluid">
      <div class="row page-titles">
		<div class="col-md-6 col-8 align-self-center">
          <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{areacomun.titulo}"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" th:text="#{areacomun.titulo}"></h4>
              <h6 class="card-subtitle" th:text="#{areacomun.subtitulo}"></h6>
              
              <div class="row">
        		<div class="col-4">
			  		<input class="form-control" id="filtroInputId" type="text" th:placeholder="#{etiqueta.busqueda}" />
			  	</div>
			  	<div class="col-1 ml-auto">
                      <a th:href="@{/catalogos/area-comun-crear}" class="btn btn-info-gesco waves-effect" th:text="#{boton.crear}"></a>
			  	</div>
			 </div>
			 
              <div class="table-responsive">
                <table id="tableId" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="20">
                  <thead>
                    <tr>
                      <th th:text="#{areacomun.inmueble}"></th>
                      <th th:text="#{areacomun.nombre}"></th>
                      <th th:text="#{areacomun.cuotapordia}"></th>
                      <th th:text="#{areacomun.descripcion}"></th>
                      <th th:text="#{tabla.accion}"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <th:block th:each="areaComun : ${areasComunes}">
                      <tr>
                        <td th:text="${areaComun.inmuebleNombre}"></td>
                        <td th:text="${areaComun.nombre}"></td>
                        <td th:text="${areaComun.cuotaPorDia}"></td>
                        <td th:text="${areaComun.descripcion}"></td>
                        <td><a th:href="${'/catalogos/area-comun-editar/'  + areaComun.id}" class="btn btn-sm btn-icon btn-pure btn-outline"><i class="fa fa-pencil text-inverse m-r-10"
                            aria-hidden="true"></i></a> <a th:attr="data-id=${areaComun.id}" th:attrappend="data-nombre=${areaComun.nombre}" class="btn btn-sm btn-icon btn-pure btn-outline modal-show"><i
                            class="fa fa-close text-danger" aria-hidden="true"></i></a></td>
                      </tr>
                    </th:block>
                  </tbody>
                  <tfoot th:if="${#lists.size(areasComunes) > 20}">
                    <tr>
                      <td colspan="6">
                        <div class="text-right">
                          <ul class="pagination">
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <div class="col-md-4">
                  <div class="card card-body">
                    <div id="modalEliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel"></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"  th:text="#{boton.cerrar}"></button>
                            <a href="/#" class="btn btn-danger waves-effect"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
