
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{proveedores.titulo}"></title>
<script th:inline="javascript">
/*<![CDATA[*/
	
var serverContext = [[@{/}]];

$(document).ready(function() {
  $('.dropify').dropify();
  addControlState(document.getElementById('divUsername'),/*[[#{campo.requerido}]]*/);
  addControlState(document.getElementById('divCorreo'),/*[[#{campo.requerido}]]*/);
  addControlState(document.getElementById('divNombre'),/*[[#{campo.requerido}]]*/);
//   addControlState(document.getElementById('divApellidoPaterno'),/*[[#{campo.requerido}]]*/);
//   addControlState(document.getElementById('divNombreRepresentante'),/*[[#{campo.requeridoo}]]*/);
//   addControlState(document.getElementById('divRazonSocial'),/*[[#{campo.requerido}]]*/);
  addControlState(document.getElementById('divRfc'), /*[[#{campo.requerido}]]*/);
//   addControlState(document.getElementById('divColonia'),/*[[#{campo.requerido}]]*/);
//   addControlState(document.getElementById('divCalle'),/*[[#{campo.requerido}]]*/);
//   addControlState(document.getElementById('divNumeroExterior'),/*[[#{campo.requerido}]]*/);  
  addControlState(document.getElementById('divAreasServicio'),/*[[#{campo.requerido}]]*/);  
//   addControlState(document.getElementById('divTelefonoMovil'));
  addControlState(document.getElementById('divTelefonoAlternativo'));
  addControlState(document.getElementById('divTelefonoOficina'), /*[[#{campo.requerido}]]*/);
  addControlState(document.getElementById('divNumeroCuenta'), /*[[#{campo.requerido}]]*/);
  addControlState(document.getElementById('divZona'), /*[[#{campo.requerido}]]*/);
});



function cargarColonias() {
	var codigoPostal = $("#codigoPostal").val();
    $.getJSON(serverContext + "api/colonias?codigoPostal=" + codigoPostal, function(data) {
        var html = '';
        var len = data.length;
        for ( var i = 0; i < len; i++) {
            html += '<option value="' + data[i].id + '">' + data[i].nombre + '</option>';
        }
        html += '</option>';
        $('#colonia').html(html);
    });
}

/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row page-titles">
				<div class="col-md-6 col-8 align-self-center">
					<h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{proveedores.titulo}"></h3>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a class="text-gesco-secundario" th:href="@{/proveedores}" th:text="#{proveedores.titulo}"></a></li>
						<li class="breadcrumb-item active" th:text="#{proveedores.crear.titulo}"></li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							
                               <h4 class="card-title"><span th:text="#{proveedores.crear.titulo}"></span></h4>
                               <h6 class="card-subtitle"><span th:text="#{proveedores.crear.subtitulo}"></span></h6>
    							
                              
                              <form  name="crearProveedorForm" action="#" th:action="@{/proveedor-crear}" th:object="${proveedorDto}" method="post"  role="form">
                              			<div th:each="err : ${#fields.globalErrors()}"  id="mensajeErrorGlobal" class="alert alert-danger  m-t-20"> <i class="ti-user"></i>  <span id="mensajeErrorGlobalSpan" th:text="${err}"></span>
					                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
					                    </div>
                                        <div class="row">
                                            <div id="divUsername" class="col-md-4 form-group" th:classappend="${#fields.hasErrors('username')}? 'form-group has-danger':'form-group'">
                                                <label class="form-control-label" for="username" th:text="#{usuario.usuario}"></label>
                                                <input type="text" th:field="*{username}" required class="form-control" id="username" maxlength="25" pattern="^[\w\s]{6,25}$" th:title="#{usuario.usuario.mensaje.validacion}">
                                                <span class="form-control-feedback">
								                	<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
								              	</span>
                                            </div>
                                             <div id="divCorreo" class="col-md-4 form-group" th:classappend="${#fields.hasErrors('correo')}? 'form-group has-danger':'form-group'">
                                                <label class="form-control-label" for="correo" th:text="#{usuario.correo}"></label>
                                                <input type="text" th:field="*{correo}" required class="form-control" id="correo" maxlength="100" 
                                               		pattern="^[\w!#$%&'*+/=?`{|}~^-]+(?:\.[\w!#$%&'*+/=?`{|}~^-]+)*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,6}$" th:title="#{usuario.correo.mensaje.validacion}">
                                                <span class="form-control-feedback">
								                	<span th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></span>
								             	 </span>
                                            </div>
                                            <div id="divNombre" class="col-md-4 form-group" th:classappend="${#fields.hasErrors('nombre')}? 'form-group has-danger':'form-group'">
                                                <label class="form-control-label" for="nombre" th:text="#{proveedores.nombre.razon.social}"></label>
                                                <input type="text" th:field="*{nombre}" class="form-control" id="nombre" maxlength="100" required pattern="^[\w\s]{1,100}$" th:title="#{usuario.nombre.mensaje.validacion}">
                                                <span class="form-control-feedback">
								                	<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
								              	</span>
                                            </div>
                                         </div>
                                         
                                            <div class="row">
								                 <div id="divRfc" class="col-md-4 form-group" th:classappend="${#fields.hasErrors('datosAdicionalesRfc')}? 'has-danger'">
								                  <label class="form-control-label" th:text="#{usuario.rfc}"></label>
								                  <input name="datosAdicionalesRfc" class="form-control" th:field="*{datosAdicionalesRfc}" required maxlength="13" pattern="^[\w\s]{0,13}$" th:title="#{usuario.rfc.mensaje.validacion}" />
								                  <span class="form-control-feedback">
								                    <span th:if="${#fields.hasErrors('datosAdicionalesRfc')}" th:errors="*{datosAdicionalesRfc}"></span>
								                  </span>
								                </div>
								                 <div id="divTelefonoOficina" class="col-md-4 form-group" th:classappend="${#fields.hasErrors('telefonoOficina')}? 'form-group has-danger':'form-group'">
	                                                <label class="form-control-label" for="telefonoOficina" th:text="#{usuario.telefono.oficina}"></label>
	                                                <input type="text" th:field="*{telefonoOficina}" class="form-control" id="telefonoOficina" pattern="^[0-9]{0,15}$" th:title="#{usuario.telefono.mensaje.validacion}">
	                                                <span class="form-control-feedback">
										                <span th:if="${#fields.hasErrors('telefonoOficina')}" th:errors="*{telefonoOficina}"></span>
										              </span>
	                                            </div>
	                                            <div id="divTelefonoAlternativo" class="col-md-4 form-group" th:classappend="${#fields.hasErrors('telefonoAlternativo')}? 'form-group has-danger':'form-group'">
	                                                <label class="form-control-label" for="telefonoAlternativo" th:text="#{usuario.telefono.alternativo}"></label>
	                                                <input type="text" th:field="*{telefonoAlternativo}" class="form-control" id="telefonoAlternativo" pattern="^[0-9]{0,15}$" th:title="#{usuario.telefono.mensaje.validacion}">
	                                                <span class="form-control-feedback">
										                <span th:if="${#fields.hasErrors('telefonoAlternativo')}" th:errors="*{telefonoAlternativo}"></span>
										              </span>
	                                            </div>
								              </div>
								              
								              
								              <div class="row">
								               <div id="divNumeroCuenta" class="col-md-4 form-group" th:classappend="${#fields.hasErrors('datosAdicionalesNumeroCuenta')}? 'has-danger'">
								                  <label class="form-control-label" th:text="#{proveedores.numero.cuenta}"></label>
								                  <input name="datosAdicionalesNumeroCuenta" class="form-control" th:field="*{datosAdicionalesNumeroCuenta}" required maxlength="100"  />
								                  <span class="form-control-feedback">
								                    <span th:if="${#fields.hasErrors('datosAdicionalesNumeroCuenta')}" th:errors="*{datosAdicionalesNumeroCuenta}"></span>
								                  </span>
								                </div>
								                <div id="divZona"  th:class="${#fields.hasErrors('zonaSeleccionado')}? 'form-group has-danger':'form-group'">
		                                		   <div class="col-md-12 m-b-20">
										              <label class="form-control-label" th:text="#{colonia.zona}"></label>
										              <select name="zonaSeleccionado" class="form-control" th:field="*{zonaSeleccionado}" required>
										                <option selected="selected" value="" th:text="#{combo.seleccionar}"></option>
										                <option th:each="zona : ${session.zonasDto}" th:value="${zona.codigo}" th:text="|${zona.codigo} -${zona.nombre}|"></option>
										              </select>
										              <span class="form-control-feedback">
										                <span th:if="${#fields.hasErrors('zonaSeleccionado')}" th:errors="*{zonaSeleccionado}"></span>
										              </span>
								              	</div>
								            </div>
												<div id="divAreasServicio" class="col-md-4 form-group" th:classappend="${#fields.hasErrors('areasServicioSeleccionados')}? 'has-danger'">
								                  <label class="form-control-label" th:text="#{proveedores.areasservicio}"></label>
								                  <select  name="areaServicio" class="form-control" th:field="*{areasServicioSeleccionados}" required multiple="multiple">	
													<option th:each="areaServicio : ${session.areasServicio}" th:value="${{areaServicio.id}}" th:text="${areaServicio.nombre}"></option>
		                                        </select>
								                  <span class="form-control-feedback">
								                    <span th:if="${#fields.hasErrors('areasServicioSeleccionados')}" th:errors="*{areasServicioSeleccionados}"></span>
								                  </span>
								                </div>
								                
								              </div>
								              
                                            
                                             <div class="row">
	                                             <div class="col-md-12 m-b-20">
				                                    <button type="submit" class="btn btn-info-gesco waves-effect m-r-10" th:text="#{boton.guardar}"></button>
				                                    <a th:href="@{/proveedores}" class="btn btn-secondary waves-effect" th:text="#{boton.cancelar}"></a>
	                                           </div>
                                           </div>
                                    </form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
