<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{proveedor.titulo}"></title>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function() {
    $('.modal-show').click(function(event) {
      event.preventDefault();
      var id = $(this).data('id')
      var nombre = $(this).data('nombre')

      var modal = $("#modalEliminar")
      var mensaje = /*[[#{usuario.modal.mensaje.eliminar}]]*/
      modal.find('.modal-title').text(/*[[#{modal.eliminar.encabezado}]]*/)
      modal.find('.modal-body p').text(mensaje.format(nombre))
      modal.find('.modal-footer a').attr('href', '/proveedor-eliminar/' + id).text(/*[[#{boton.eliminar}]]*/)
      modal.modal("show");
    });
    
    $("#filtroInputId").on("keyup", function() {
	    var inputValue = $(this).val().toLowerCase();
	    $("#proveedoresTableId tbody tr ").filter(function() {
	    	$(this).toggle($(this).text().toLowerCase().indexOf(inputValue) > -1)
	    });
	});
    
  });
  /*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row page-titles">
				<div class="col-md-6 col-8 align-self-center">
					<h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{proveedores.titulo}"></h3>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title" th:text="#{proveedores.titulo}"></h4>
							<h6 class="card-subtitle" th:text="#{proveedores.subtitulo}"></h6>
							
									<div class="row">
						        		<div class="col-4">
									  		<input class="form-control" id="filtroInputId" type="text" th:placeholder="#{etiqueta.busqueda}" />
									  	</div>
									</div>
									
                                    <div class="table-responsive">
                                        <table id="proveedoresTableId" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                                            <thead>
                                                <tr>
                                                    <th th:text="#{tabla.id}"></th>
                                                    <th th:text="#{usuario.usuario}"></th>
                                                    <th th:text="#{usuario.correo}"></th>
                                                    <th th:text="#{usuario.nombre}"></th>
                                                    <th th:text="#{usuario.estatus}"></th>
                                                    <th th:text="#{tabla.accion}"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            	<th:block th:each="proveedor : ${proveedores}">
	                                                <tr>
	                                                    <td th:text="${proveedor.id}"></td>
	                                                    <td th:switch="${proveedor.fotoUrl != null}">
	                                                        <a th:href="${'/proveedor-detalle/'  + proveedor.id}">
	                                                        		<span  th:case="${false}" class="round round-success">P</span>
                                									<img th:case="${true}" th:src="${proveedor.fotoUrl}" class="img-circle" width="100">
	                                                        	<span th:text="${proveedor.username}"></span>
	                                                        </a>
	                                                    </td>
	                                                    <td th:text="${proveedor.correo}"></td>
	                                                    <td th:text="${proveedor.nombre}"></td>
	                                                    <td>
		                                                    <div th:switch="${proveedor.activo}"> 
															  <span th:case="${true}" class="text-success" th:text="#{usuario.estatus.activo}"></span>
															  <span th:case="${false}" class="text-muted" th:text="#{usuario.estatus.inactivo}"></span>
															</div>
														</td>
<!-- 	                                                    <td th:text="${usuario.activo}"></td> -->
	                                                    <td>
	                                                    	<a th:href="${'/proveedor-detalle/'  + proveedor.id}" class="btn btn-sm btn-icon btn-pure btn-outline"><i class="fa fa-search text-inverse m-r-10" aria-hidden="true"></i></a> 
	                                                    	<a th:href="${'/proveedor-editar/'  + proveedor.id}" class="btn btn-sm btn-icon btn-pure btn-outline"><i class="fa fa-pencil text-inverse m-r-10" aria-hidden="true"></i></a>
<!-- 	                                                    	<a th:href="${'/proveedor-eliminar/'  + proveedor.id}" class="btn btn-sm btn-icon btn-pure btn-outline"><i class="fa fa-close text-danger" aria-hidden="true"></i></a> -->
	                                                    	<a th:attr="data-id=${proveedor.id}" th:attrappend="data-nombre=${proveedor.nombre}" class="btn btn-sm btn-icon btn-pure btn-outline modal-show"> <i class="fa fa-close text-danger" aria-hidden="true"></i></a>
	                                                    </td>
	                                                </tr>
                                               </th:block>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <a th:href="@{/proveedor-crear}" class="btn btn-info-gesco" th:text="#{boton.nuevo}"></a>
                                                    </td>

                                                    <td th:if="${#lists.size(proveedores) > 10}" colspan="7">
                                                        <div class="text-right">
                                                            <ul class="pagination"> </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div class="col-md-4">
						                  <div class="card card-body">
						                    <div id="modalEliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						                      <div class="modal-dialog">
						                        <div class="modal-content">
						                          <div class="modal-header">
						                            <h4 class="modal-title" id="myModalLabel"></h4>
						                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						                              <span aria-hidden="true">&times;</span>
						                            </button>
						                          </div>
						                          <div class="modal-body">
						                            <p></p>
						                          </div>
						                          <div class="modal-footer">
						                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" th:text="#{boton.cerrar}"></button>
						                            <a href="/#" class="btn btn-danger waves-effect"></a>
						                          </div>
						                        </div>
						                      </div>
						                    </div>
						                  </div>
						                </div>
                                    </div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
		</div>
	</div>
</body>
</html>
