<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li sec:authorize="!isAuthenticated()"><a href="/inicio" aria-expanded="false"><i class="mdi mdi-home"></i> <span class="hide-menu" th:text="#{menu.inicio}"></span></a></li>
        <li sec:authorize="!isAuthenticated()"> <a href="/inicio#quienes-somos" aria-expanded="false"><i class="mdi mdi-help-circle-outline"></i> <span class="hide-menu" th:text="#{menu.quienessomos}"></span></a></li>
        <li sec:authorize="!isAuthenticated()"><a href="/inicio#servicios" aria-expanded="false"><i class="mdi mdi-grid"></i> <span class="hide-menu" th:text="#{menu.servicios}"></span></a></li>
        <li sec:authorize="!isAuthenticated()"><a href="/inicio#ventajas" aria-expanded="false"><i class="mdi mdi-widgets"></i> <span class="hide-menu" th:text="#{menu.ventajas}"></span></a></li>
<!--         <li><a href="/inicio#nuestros-clientes" aria-expanded="false"><i class="mdi mdi-human"></i> <span class="hide-menu" th:text="#{menu.clientes}"></span></a></li> -->
        <li sec:authorize="!isAuthenticated()"><a href="/inicio#sucursales" aria-expanded="false"><i class="mdi mdi-map-marker"></i> <span class="hide-menu" th:text="#{menu.sucursales}"></span></a></li>
        <li sec:authorize="!isAuthenticated()"><a href="/contacto" aria-expanded="false"><i class="mdi mdi-contact-mail"></i> <span class="hide-menu" th:text="#{menu.contactanos}"></span></a></li>
<!--         <li sec:authorize="!isAuthenticated()"><a href="/preguntas-frecuentes" aria-expanded="false"><i class="mdi mdi-comment-account"></i> <span class="hide-menu" th:text="#{menu.preguntasfrecuentes}"></span></a></li> -->
        <li><a href="/iconos" aria-expanded="false"><i class="mdi mdi-airplay"></i> <span class="hide-menu">Iconos</span></a></li>
        <li sec:authorize="!isAuthenticated()"><a href="/login" aria-expanded="false"><i class="mdi mdi-account-key"></i> <span class="hide-menu" th:text="#{menu.ingresosocios}"></span></a></li>
        <li sec:authorize="hasRole('PROVEEDOR')"><a href="/proveedor" aria-expanded="false"><i class="mdi mdi-home"></i> <span class="hide-menu" th:text="#{menu.usuario.tablero}"></span></a></li>
        <li sec:authorize="hasRole('SOCIO_BI')"><a href="/condomino" aria-expanded="false"><i class="mdi mdi-home"></i> <span class="hide-menu" th:text="#{menu.usuario.tablero}"></span></a></li>
        <li sec:authorize="hasRole('ADMIN_BI')"><a href="/adminbi" aria-expanded="false"><i class="mdi mdi-home"></i> <span class="hide-menu" th:text="#{menu.usuario.tablero}"></span></a></li>
        <li sec:authorize="hasRole('ADMIN_ZONA')"><a href="/adminzona" aria-expanded="false"><i class="mdi mdi-home"></i> <span class="hide-menu" th:text="#{menu.usuario.tablero}"></span></a></li>
        <li sec:authorize="hasRole('ADMIN_CORP')"><a href="/admincorp" aria-expanded="false"><i class="mdi mdi-home"></i> <span class="hide-menu" th:text="#{menu.usuario.tablero}"></span></a></li>
        <li sec:authorize="hasRole('CONTADOR')"><a href="/contador" aria-expanded="false"><i class="mdi mdi-home"></i> <span class="hide-menu" th:text="#{menu.usuario.tablero}"></span></a></li>
        <li sec:authorize="isAuthenticated()"><a class="has-arrow" href="#" aria-expanded="true"><i class="mdi mdi-table"></i> <span class="hide-menu" th:text="#{menu.administracion}"></span></a>
          <ul aria-expanded="true" class="collapse in">
            <li sec:authorize="hasAuthority('VER_TICKET')"><a th:href="@{/tickets}" aria-expanded="false"><i class="mdi mdi-tag-multiple"></i> <span class="hide-menu" th:text="#{menu.tickets}"></span></a></li>
              <li sec:authorize="hasAnyRole('ADMIN_CORP', 'ADMIN_ZONA', 'ADMIN_BI', 'SOCIO_BI')"><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-clipboard"></i> <span class="hide-menu"
                  th:text="#{menu.reservaciones}"></span></a>
              <ul aria-expanded="false" class="collapse">
                 <li sec:authorize="!hasRole('CONTADOR')"><a th:href="@{/reservaciones/reservar-area}" aria-expanded="false"><i class="mdi mdi-nature-people"></i> <span class="hide-menu" th:text="#{menu.areascomunes.reserva}"></span></a></li>
                 <li sec:authorize="hasAnyRole('SOCIO_BI', 'ADMIN_BI')"><a th:href="@{/reservaciones/mis-reservaciones}" aria-expanded="false"><i class="mdi mdi-nature-people"></i> <span class="hide-menu" th:text="#{menu.areascomunes.mis.reservaciones}"></span></a></li>
              </ul></li>
           	   <li sec:authorize="hasAnyRole('CONTADOR', 'SOCIO_BI')"><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-folder-multiple"></i> <span class="hide-menu" th:text="#{menu.reportes}"></span></a>
             	 <ul aria-expanded="false" class="collapse">
	                 <li sec:authorize="hasAnyRole('CONTADOR', 'SOCIO_BI')"><a th:href="@{/reportes/reportes-mensuales}" aria-expanded="false"><i class="mdi mdi-folder-outline"></i> <span class="hide-menu" th:text="#{menu.reportes.mensuales}"></span></a></li>
	                 <li sec:authorize="hasAnyRole('CONTADOR', 'SOCIO_BI')"><a th:href="@{/reportes/reportes-mensuales/historico}" aria-expanded="false"><i class="mdi mdi-folder-outline"></i> <span class="hide-menu" th:text="#{menu.reportes.mensuales.historico}"></span></a></li>
	                 <li sec:authorize="hasAnyRole('CONTADOR', 'SOCIO_BI')"><a th:href="@{/reportes/reglamentos}" aria-expanded="false"><i class="mdi mdi-folder-outline"></i> <span class="hide-menu" th:text="#{menu.reglamentos}"></span></a></li>
	                 <li sec:authorize="hasAnyRole('CONTADOR', 'SOCIO_BI')"><a th:href="@{/reportes/comunicados}" aria-expanded="false"><i class="mdi mdi-folder-outline"></i> <span class="hide-menu" th:text="#{menu.comunicados}"></span></a></li>
              		 <li sec:authorize="hasAnyRole('CONTADOR', 'SOCIO_BI')"><a th:href="@{/reportes/cuotas-departamento}" aria-expanded="false"><i class="mdi mdi-folder-outline"></i> <span class="hide-menu" th:text="#{menu.cuotas.departamento}"></span></a></li>
              		 <li sec:authorize="hasAnyRole('CONTADOR', 'SOCIO_BI')"><a th:href="@{/reportes/estados-cuenta}" aria-expanded="false"><i class="mdi mdi-folder-outline"></i> <span class="hide-menu" th:text="#{menu.estados.cuenta}"></span></a></li>
<!--               		 <li sec:authorize="hasRole('SOCIO_BI')"><a th:href="@{/reportes}" aria-expanded="false"><i class="mdi  mdi-folder-outline"></i> <span class="hide-menu" th:text="#{menu.reportes.socios}"></span></a></li> -->
              	</ul>
              </li>
            <li sec:authorize="hasAnyRole('ADMIN_CORP', 'ADMIN_ZONA')"><a  th:href="@{/inmuebles}" aria-expanded="false"><i class="mdi mdi-domain"></i> <span class="hide-menu" th:text="#{menu.bieninmueble}"></span></a></li>
<!--             <li sec:authorize="hasAnyRole('ADMIN_CORP', 'ADMIN_ZONA', 'ADMIN_BI')"><a  th:href="@{/contacto/mensajes}" aria-expanded="false"><i class="mdi mdi-contact-mail"></i> <span class="hide-menu" th:text="#{menu.contacto.mensajes}"></span></a></li> -->
           	<li sec:authorize="hasAnyRole('ADMIN_CORP', 'ADMIN_ZONA', 'ADMIN_BI', 'SOCIO_BI', 'CONTADOR')"><a href="/pagos" aria-expanded="false"><i class="mdi mdi-cash-usd"></i> <span class="hide-menu" th:text="#{menu.pagos}"></span></a></li>
           	<li sec:authorize="hasAnyRole('ADMIN_CORP', 'ADMIN_ZONA', 'ADMIN_BI')"><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-account"></i> <span class="hide-menu"
                  th:text="#{menu.usuarios}"></span></a>
              <ul aria-expanded="false" class="collapse">
                <li sec:authorize="hasAnyRole('ADMIN_CORP', 'ADMIN_ZONA')"><a th:href="@{/usuarios}" href="#" aria-expanded="false" ><i class="mdi mdi-account-key"></i> <span class="hide-menu" th:text="#{menu.administradores}"></span></a></li>
             	<li sec:authorize="hasAnyRole('ADMIN_CORP', 'ADMIN_ZONA', 'ADMIN_BI')"><a  th:href="@{/condominos}" aria-expanded="false"><i class="mdi mdi-account-check"></i> <span class="hide-menu" th:text="#{menu.socios}"></span></a></li>
              	<li sec:authorize="hasAnyRole('ADMIN_CORP', 'ADMIN_ZONA')"><a  th:href="@{/proveedores}" aria-expanded="false"><i class="mdi mdi-account-settings-variant"></i> <span class="hide-menu" th:text="#{menu.proveedores}"></span></a></li>
              </ul>
             </li>
            <li sec:authorize="hasAnyRole('ADMIN_CORP', 'ADMIN_ZONA', 'ADMIN_BI')"><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-clipboard"></i> <span class="hide-menu"
                  th:text="#{menu.catalogos}"></span></a>
              <ul aria-expanded="false" class="collapse">
                <li sec:authorize="hasRole('ADMIN_CORP')"><a href="/catalogos/zonas" th:text="#{menu.zonas}"></a></li>
                <li sec:authorize="hasAnyRole('ADMIN_CORP', 'ADMIN_ZONA')"><a href="/catalogos/colonias" th:text="#{menu.colonias}"></a></li>
<!--                 <li><a href="/catalogos/servicios" th:text="#{menu.servicios}"></a></li> -->
                <li><a href="/catalogos/areas-servicio" th:text="#{menu.areasservicio}"></a></li>
                 <li><a href="/catalogos/areas-comunes" th:text="#{menu.areascomunes.catalogo}"></a></li>
<!--                 <li><a href="/catalogos/aviso-oportuno" th:text="#{menu.avisooportuno}"></a></li> -->
<!--                 <li><a href="/catalogos/estatus-ticket" th:text="#{menu.estatustickets}"></a></li> -->
<!--                 <li><a href="/catalogos/sucursales" th:text="#{menu.sucursales}"></a></li> -->
                <li><a href="/catalogos/notificaciones" th:text="#{menu.notificaciones}"></a></li>
                <li sec:authorize="hasRole('ADMIN_CORP')"><a href="/catalogos/preguntas-frecuentes" th:text="#{menu.preguntasfrecuentes}"></a></li>
                <li sec:authorize="hasRole('ADMIN_CORP')"><a href="/catalogos/tipos-pago" th:text="#{menu.tipopago}"></a></li>
<!--                 <li><a href="/catalogos/tipo-pago-bancario" th:text="#{menu.tipopagobancario}"></a></li> -->
<!--                 <li><a href="/catalogos/tipo-ticket" th:text="#{menu.tiposticket}"></a></li> -->
              </ul></li>
          </ul></li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <!-- Bottom points-->
  <!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->