
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{cuota.departamento.listado.titulo}"></title>
<script th:inline="javascript">
  /*<![CDATA[*/
  		var serverContext = [[@{/}]];
	    $(document).ready(function() {
	    	
	    	 $('.modal-show').click(function(event) {
	    	      event.preventDefault();
	    	      var id = $(this).data('id')
	    	      var nombre = $(this).data('nombre')

	    	      var modal = $("#modalEliminar")
	    	      var mensaje = /*[[#{cuota.departamento.modal.mensaje.eliminar}]]*/
	    	      modal.find('.modal-title').text(/*[[#{modal.eliminar.encabezado}]]*/)
	    	      modal.find('.modal-body p').text(mensaje.format(nombre))
	    	      modal.find('.modal-footer a').attr('href', '/reportes/cuotas-departamento/' + id + '/eliminar').text(/*[[#{boton.eliminar}]]*/)
	    	      modal.modal("show");
	    	    });
	      
	    });

  
  
  /*]]>*/
</script>
</head>
<body>
  <div layout:fragment="content">
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
          <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{cuota.departamento.listado.titulo.principal}"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" th:text="#{cuota.departamento.listado.subtitulo}"></h4>
              <h6 class="card-subtitle" th:text="#{cuota.departamento.listado.titulo}"></h6>
              <div class="row">
        		<div class="col-4">
			  		<input class="form-control" id="filtroInputId" type="text" th:placeholder="#{etiqueta.busqueda}"/>
			  	</div>
			  	<div class="col-2 ml-auto">
			  		<a sec:authorize="hasAnyRole('CONTADOR')" th:href="@{/reportes/cuotas-departamento/carga}" class="btn btn-block btn-info-gesco" th:text="#{boton.cuota.departamento.cargar}"></a>
			  	</div>
			 </div>
			 
								 
              <div class="table-responsive">
                <table id="tableId" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="20">
                  <thead>
                    <tr>
                      <th th:text="#{tabla.id}"></th>
                      <th th:text="#{cuota.departamento.inmueble}"></th>
                      <th th:text="#{cuota.departamento.descripcion}"></th>
                      <th th:text="#{tabla.accion}"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <th:block th:each="cuotaDepartamento : ${cuotasDepartamento}">
                      <tr>
                        <td th:text="${cuotaDepartamento.id}"></td>
                        <td th:text="${cuotaDepartamento.inmuebleNombre}"></td>
                        <td th:text="${cuotaDepartamento.descripcion}"></td>
                        <td>
                        	<a th:attr="data-id=${cuotaDepartamento.id}" th:attrappend="data-nombre=${cuotaDepartamento.id}" class="btn btn-sm btn-icon btn-pure btn-outline modal-show"> <i class="fa fa-close text-danger" aria-hidden="true"></i></a>
                        </td>
                      </tr>
                    </th:block>
                  </tbody>
                  <tfoot th:if="${#lists.size(cuotasDepartamento) > 20}">
                    <tr>
                      <td colspan="6">
                        <div class="text-right">
                          <ul class="pagination">
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                
                <div class="col-md-4">
                  <div class="card card-body">
                    <div id="modalEliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel"></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" th:text="#{boton.cerrar}"></button>
                            <a href="/#" class="btn btn-danger waves-effect"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>

