
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{contador.page.titulo}"></title>
<script th:inline="javascript">
/*<![CDATA[*/
	
$(window).on('load', function() {
		// Pagination
		// -----------------------------------------------------------------
		$('#demo-foo-pagination').footable();
		$('#demo-show-entries').change(function (e) {
			e.preventDefault();
			var pageSize = $(this).val();
			$('#demo-foo-pagination').data('page-size', pageSize);
			$('#demo-foo-pagination').trigger('footable_initialized');
		});

		
		// Add & Remove Row
		var addrow = $('#pagosTableId');
		addrow.footable().on('click', '.delete-row-btn', function() {

			//get the footable object
			var footable = addrow.data('footable');

			//get the row we are wanting to delete
			var row = $(this).parents('tr:first');

			//delete the row
			footable.removeRow(row);
		});
	    var addrow = $('#demo-foo-addrow2');
		addrow.footable().on('click', '.delete-row-btn', function() {

			//get the footable object
			var footable = addrow.data('footable');

			//get the row we are wanting to delete
			var row = $(this).parents('tr:first');

			//delete the row
			footable.removeRow(row);
		});
	});
	




$(document).ready(function() {
	
	Morris.Area({
        element: 'morris-area-chart',
        data: [{
            mes: '1',
            pagado: 75,
            verificacion: 10,
            pendiente: 65,
            atrasado: 55
        }, {
        	 mes: '2',
             pagado: 15,
             verificacion: 10,
             pendiente: 70,
             atrasado: 45
        }, {
        	 mes: '3',
             pagado: 20,
             verificacion: 10,
             pendiente: 70,
             atrasado: 65
        }, {
        	 mes: '4',
             pagado: 40,
             verificacion: 35,
             pendiente: 70,
             atrasado: 55
        }, {
        	 mes: '5',
             pagado: 80,
             verificacion: 20,
             pendiente: 80,
             atrasado: 85
        }, {
        	 mes: '6',
             pagado: 80,
             verificacion: 50,
             pendiente: 10,
             atrasado: 15
        },
         {
        	 mes: '7',
             pagado: 35,
             verificacion: 70,
             pendiente: 80,
             atrasado: 45
        },
        {
       	 mes: '8',
            pagado: 15,
            verificacion: 65,
            pendiente: 35,
            atrasado: 20
       	},
       	{
      	 	mes: '9',
           pagado: 45,
           verificacion: 90,
           pendiente: 40,
           atrasado: 15
      	},
       	{
      	 mes: '10',
           pagado: 15,
           verificacion: 35,
           pendiente: 25,
           atrasado: 40
      	},
      	{
     	  mes: '11',
          pagado: 50,
          verificacion: 55,
          pendiente: 35,
          atrasado: 90
     	},
     	{
    	 mes: '12',
         pagado: 100,
         verificacion: 70,
         pendiente: 10,
         atrasado: 25
    	}
        ],
        xkey: 'mes',
        ykeys: ['pagado', 'verificacion', 'pendiente', 'atrasado'],
        labels: ['Pagado', 'Verificación', 'Pendiente', 'Atrasado'],
        pointSize: 4,
        fillOpacity: 0,
        pointStrokeColors:['#55ce63', '#6c757d', '#ffbc34', '#f62d51'],
        behaveLikeLine: true,
        gridLineColor: '#e0e0e0',
        lineWidth: 4,
        hideHover: 'auto',
        lineColors: ['#55ce63', '#6c757d', '#ffbc34', '#f62d51'],
        resize: true
        
    });
});
	
/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{contador.titulo}"></h3>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <h4 class="card-title" >Reportes de pagos</h4>
                                </div>
                                <h6 class="card-subtitle"  >Reportes de pagos por inmueble</h6>
                                	
                                	<div class="row">
                                	 <div class="col-md-12">
				                        <div class="card">
				                            <div class="card-body">
				                                <h4 class="card-title">Resumen pagos mensuales</h4>
				                                <ul class="list-inline text-right">
				                                    <li>
				                                        <h5><i class="fa fa-circle m-r-5 text-success"></i>Pagado</h5>
				                                    </li>
				                                    <li>
				                                        <h5><i class="fa fa-circle m-r-5 text-muted"></i>Verificación</h5>
				                                    </li>
				                                    <li>
				                                        <h5><i class="fa fa-circle m-r-5 text-warning"></i>Pendiente</h5>
				                                    </li>
				                                    <li>
				                                        <h5><i class="fa fa-circle m-r-5 text-danger"></i>Atrasado</h5>
				                                    </li>
				                                </ul>
				                                <div id="morris-area-chart"></div>
				                            </div>
				                        </div>
				                    </div>

			                    </div>
                                                               
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
	</div>
</body>
</html>
