
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{contador.page.titulo}"></title>
<script th:inline="javascript">
/*<![CDATA[*/
	
$(window).on('load', function() {
		// Pagination
		// -----------------------------------------------------------------
		$('#demo-foo-pagination').footable();
		$('#demo-show-entries').change(function (e) {
			e.preventDefault();
			var pageSize = $(this).val();
			$('#demo-foo-pagination').data('page-size', pageSize);
			$('#demo-foo-pagination').trigger('footable_initialized');
		});

		
		// Add & Remove Row
		var addrow = $('#pagosTableId');
		addrow.footable().on('click', '.delete-row-btn', function() {

			//get the footable object
			var footable = addrow.data('footable');

			//get the row we are wanting to delete
			var row = $(this).parents('tr:first');

			//delete the row
			footable.removeRow(row);
		});
	    var addrow = $('#demo-foo-addrow2');
		addrow.footable().on('click', '.delete-row-btn', function() {

			//get the footable object
			var footable = addrow.data('footable');

			//get the row we are wanting to delete
			var row = $(this).parents('tr:first');

			//delete the row
			footable.removeRow(row);
		});
	});
	
/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{contador.titulo}"></h3>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <h4 class="card-title" >Reportes</h4>
                                </div>
                                <h6 class="card-subtitle"  >Modúlo para reportes de inmuebles</h6>
                                	
<!--                                 	 <div class="card"> -->
<!-- 			                            <div class="card-body"> -->
<!-- 			                                <h4 class="card-title">Customtab vertical Tab</h4> -->
<!-- 			                                <h6 class="card-subtitle">Use default tab with class <code>vtabs, tabs-vertical & customvtab</code></h6> -->
			                                <!-- Nav tabs -->
			                                <div class="vtabs customvtab">
			                                    <ul class="nav nav-tabs tabs-vertical" style="width:auto" role="tablist">
			                                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#r1" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span><i class="ti-folder"></i> <span class="hidden-xs-down">Reportes del mes</span> </a> </li>
			                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#r2" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span><i class="ti-folder"></i> <span class="hidden-xs-down">Reportes historicos</span></a> </li>
			                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#r3" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span><i class="ti-folder"></i> <span class="hidden-xs-down">Reglamentos</span></a> </li>
			                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#r4" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span><i class=ti-folder></i> <span class="hidden-xs-down">Comunicados</span></a> </li>
			                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#r5" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span><i class="ti-folder"></i> <span class="hidden-xs-down">Resumen de acuedos asambleas</span></a> </li>
			                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#r6" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span><i class="ti-folder"></i> <span class="hidden-xs-down">Coutas por departamento</span></a> </li>
			                                    </ul>
			                                    <!-- Tab panes -->
			                                    <div class="tab-content">
			                                        <div class="tab-pane active" id="r1" role="tabpanel">
			                                            <div class="p-20">
			                                                <h3>Reportes del mes</h3>
			                                                <p>Espacio para obtener los reportes mensuales</p>
			                                            </div>
			                                        </div>
			                                        <div class="tab-pane" id="r2" role="tabpanel">
			                                        	<div class="p-20">
			                                                <h3>Reportes historicos</h3>
			                                                <p>Espacio para obtener el historico de reportes</p>
			                                            </div>
			                                        </div>
			                                        <div class="tab-pane" id="r3" role="tabpanel">
			                                        	<div class="p-20">
			                                                <h3>Reglamentos</h3>
			                                                <p>Espacio para obtener reglamentos</p>
			                                            </div>
			                                        </div>
			                                         <div class="tab-pane" id="r4" role="tabpanel">
			                                        	<div class="p-20">
			                                                <h3>Comunicados</h3>
			                                                <p>Espacio para revisión de documentos de comunicados</p>
			                                            </div>
			                                        </div>
			                                         <div class="tab-pane" id="r5" role="tabpanel">
			                                        	<div class="p-20">
			                                                <h3>Resumen de acuedos asambleas</h3>
			                                                <p>Espacio para obtener el resumen de acuedos asambleas</p>
			                                            </div>
			                                        </div>
			                                         <div class="tab-pane" id="r6" role="tabpanel">
			                                        	<div class="p-20">
			                                                <h3>Coutas por departamento</h3>
			                                                <p>Espacio para obtener las coutas por departamento</p>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
<!-- 			                            </div> -->
<!-- 			                        </div> -->
			                    </div>
                                                               
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
	</div>
</body>
</html>
