
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{pagos.tarjetas.titulo}"></title>
<script th:inline="javascript">
  /*<![CDATA[*/
	  
  /*]]>*/
</script>
</head>
<body>
  <div layout:fragment="content">
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
          <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{pagos.tarjetas.titulo.principal}"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" th:text="#{pagos.tarjetas.subtitulo}"></h4>
              <h6 class="card-subtitle" th:text="#{pagos.tarjetas.titulo}"></h6>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

