
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{pagos.trasferencia.titulo}"></title>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
	addControlState(document.getElementById('divNumeroReferencia'),/*[[#{campo.requerido}]]*/);
	addControlState(document.getElementById('divMonto'),/*[[#{campo.requerido}]]*/);
	addControlState(document.getElementById('divConcepto'),/*[[#{campo.requerido}]]*/);
	addControlState(document.getElementById('divComprobantePago'),/*[[#{campo.requerido}]]*/);
});
/*]]>*/
</script>
</head>
<body>
  <div layout:fragment="content">
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
          <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{pagos.trasferencia.titulo.principal}"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" th:text="#{pagos.trasferencia.subtitulo}"></h4>
<!--               <h6 class="card-subtitle" th:text="#{pagos.trasferencia.titulo}"></h6> -->
              
              <form name="pagoTransferenciaForm" action="#" th:action="@{/pagos/opciones/transferencia}" th:object="${pago}" method="post" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" th:field="*{id}"/>
                    <input type="hidden" class="form-control" th:field="*{estatusPagoId}"/>
                    <input type="hidden" class="form-control" th:field="*{tipoPagoId}"/>
                    <input type="hidden" class="form-control" th:field="*{verificado}"/>
                    <input type="hidden" class="form-control" th:field="*{usuarioId}"/>
<!--                     <input type="hidden" class="form-control" th:field="*{numeroCuenta}"/> -->
<!--                     <input type="hidden" class="form-control" th:field="*{referencia}"/> -->
<!--                     <input type="hidden" class="form-control" th:field="*{monto}"/> -->
                    
<!--                     <div id="divNumeroCuenta" class="form-group"> -->
<!-- 						<label class="form-control-label" th:text="#{pago.numeroCuenta}"></label> -->
<!-- 						<input name="numeroCuenta" class="form-control" th:field="*{numeroCuenta}"  th:readonly="${true}"/> -->
<!-- 					</div> -->
					
<!-- 					<div id="divNumeroReferencia" class="form-group"> -->
<!-- 						<label class="form-control-label" th:text="#{pago.referencia}"></label> -->
<!-- 						<input name="referencia" class="form-control" th:field="*{referencia}" th:readonly="${true}"/> -->
<!-- 					</div> -->
					<div id="divMonto" th:class="${#fields.hasErrors('monto')}? 'form-group has-danger':'form-group'">
						<label class="form-control-label" th:text="#{pago.monto}"></label>
<!-- 						<input name="monto" class="form-control" th:field="*{monto}" th:readonly="${true}" pattern="^\d+(\.\d{1,4})?$" th:title="#{pago.monto.mensaje.validacion}" /> -->
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">$</span>
							</div>
							<input name="monto" class="form-control" th:field="*{monto}" th:readonly="${true}" pattern="^\d+(\.\d{1,4})?$" th:title="#{pago.monto.mensaje.validacion}" aria-describedby="basic-addon1"/>
						</div>
						<span class="form-control-feedback">
							<span th:if="${#fields.hasErrors('monto')}" th:errors="*{monto}"></span>
						</span>
					</div>
					<div id="divConcepto" th:class="${#fields.hasErrors('concepto')}? 'form-group has-danger':'form-group'">
						<label class="form-control-label" th:text="#{pago.concepto}"></label>
						<input name="concepto" class="form-control" th:field="*{concepto}" required maxlength="255" th:title="#{pago.concepto.mensaje.validacion}" />
						<span class="form-control-feedback">
							<span th:if="${#fields.hasErrors('concepto')}" th:errors="*{concepto}"></span>
						</span>
					</div>
					
<!-- 					<div id="divImagen" class="col-md-4" th:classappend="${#fields.hasErrors('imagen')}? 'form-group has-danger':'form-group'"> -->
<!-- 	                  <label class="form-control-label" th:text="#{etiqueta.inmueble.imagen}"></label> -->
<!-- 	                  <input name="imagen" type="file" class="form-control dropify" th:field="*{imagen}" th:title="#{mensaje.inmueble.imagen.validacion}" required> -->
<!-- 	                  <span class="form-control-feedback"> <span th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}"></span> -->
<!-- 	                  </span> -->
<!-- 	                </div> -->
					
					<div id="divComprobantePago" class="col-md-4" th:classappend="${#fields.hasErrors('comprobantePagoMf')}? 'form-group has-danger':'form-group'">
	                  <label class="form-control-label" th:text="#{pago.comprobante}"></label>
	                  <input name="comprobantePagoMf" type="file" class="form-control dropify" th:field="*{comprobantePagoMf}" th:title="#{mensaje.pago.comprobante.validacion}" required accept="image/*">
	                  <span class="form-control-feedback"> <span th:if="${#fields.hasErrors('comprobantePagoMf')}" th:errors="*{comprobantePagoMf}"></span>
	                  </span>
	                </div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-info-gesco"  th:text="#{boton.enviar}"></button>
						<a th:href="@{/pagos}" class="btn  btn-secondary" th:text="#{boton.cancelar}"></a>
					</div>
				</form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

