
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{menu.areascomunes.mis.reservaciones}"></title>
<script th:inline="javascript">
  /*<![CDATA[*/
  
  /*]]>*/
</script>
</head>
<body>
  <div layout:fragment="content">
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
          <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{reserva.misreservaciones.titulo}"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" th:text="#{reserva.misreservaciones.titulo}"></h4>
              <h6 class="card-subtitle" th:text="#{reserva.misreservaciones.subtitulo}"></h6>
              
              <div class="row">
        		<div class="col-4">
			  		<input class="form-control" id="filtroInputId" type="text" th:placeholder="#{etiqueta.busqueda}"/>
			  	</div>
			  	<div class="col-2 ml-auto">
			  		<a sec:authorize="hasRole('SOCIO_BI')" th:href="@{/reservaciones/reservar-area}" class="btn btn-block btn-info-gesco" th:text="#{boton.reservar}"></a>
			  	</div>
			 </div>
			 
								 
              <div class="table-responsive">
                <table id="tableId" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="20">
                  <thead>
                    <tr>
                      <th th:text="#{tabla.id}"></th>
                      <th th:text="#{reserva.titulo}"></th>
                      <th th:text="#{reserva.areacomun}"></th>
                      <th th:text="#{reserva.fecha}"></th>
                      <th th:text="#{reserva.pago}"></th>
                      <th th:text="#{tabla.accion}"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <th:block th:each="reservacion : ${reservaciones}">
                      <tr>
                        <td th:text="${reservacion.id}"></td>
                        <td th:text="${reservacion.title}"></td>
                        <td th:text="${reservacion.areaComunNombre}"></td>
                        <td th:text="${reservacion.start}"></td>
                        <td>
	                        <div th:switch="${reservacion.pagoEstatusPagoName}"> 
							  <span th:case="${T(mx.com.admoninmuebles.persistence.model.EstatusPago).PAGADO}" class="text-success" th:text="${reservacion.pagoEstatusPagoDescripction}"></span>
							  <span th:case="${T(mx.com.admoninmuebles.persistence.model.EstatusPago).CERCANO}" class="text-warning"  th:text="${reservacion.pagoEstatusPagoDescripction}"></span>
							  <span th:case="${T(mx.com.admoninmuebles.persistence.model.EstatusPago).VERIFICACION}" class="text-muted"  th:text="${reservacion.pagoEstatusPagoDescripction}"></span>
							  <span th:case="${T(mx.com.admoninmuebles.persistence.model.EstatusPago).ATRASADO}" class="text-danger"  th:text="${reservacion.pagoEstatusPagoDescripction}"></span>
							</div>
                        </td> 
                        <td>
<!--                           <a  th:href="${'/pagos/' + reservacion.pagoId + '/detalle' }" class="btn btn-sm btn-icon btn-pure btn-outline"> <i class="fa fa-info text-inverse m-r-10" aria-hidden="true"></i></a> -->
                          <a sec:authorize="hasRole('SOCIO_BI')" th:if="${(T(mx.com.admoninmuebles.persistence.model.EstatusPago).CERCANO == reservacion.pagoEstatusPagoName) || (T(mx.com.admoninmuebles.persistence.model.EstatusPago).ATRASADO == reservacion.pagoEstatusPagoName)}" 	th:href="${'/pagos/' + reservacion.pagoId + '/opciones' }" class="btn btn-sm btn-icon btn-pure btn-outline"> <i class="fa  fa-dollar text-inverse m-r-10" aria-hidden="true"></i></a>
                        </td>
                      </tr>
                    </th:block>
                  </tbody>
                  <tfoot th:if="${#lists.size(reservaciones) > 20}">
                    <tr>
                      <td colspan="6">
                        <div class="text-right">
                          <ul class="pagination">
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>

