
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{ticket.titulo}"></title>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function() {
    $('.modal-show').click(function(event) {
      event.preventDefault();
      var id = $(this).data('id')
      var titulo = $(this).data('titulo')

      var modal = $("#modalEliminar")
      var mensaje = /*[[#{ticket.modal.mensaje.eliminar}]]*/
      modal.find('.modal-title').text(/*[[#{modal.eliminar.encabezado}]]*/)
      modal.find('.modal-body p').text(mensaje.format(titulo))
      modal.find('.modal-footer a').attr('href', '/ticket-eliminar/' + id).text(/*[[#{boton.eliminar}]]*/)
      modal.modal("show");
    });
    
    $("#filtroInputId").on("keyup", function() {
	    var inputValue = $(this).val().toLowerCase();
	    $("#ticketsTableId tbody tr ").filter(function() {
	    	$(this).toggle($(this).text().toLowerCase().indexOf(inputValue) > -1)
	    });
	});
    
  });
  /*]]>*/
</script>
</head>
<body>
  <div layout:fragment="content">
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
          <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{ticket.titulo.principal}"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" th:text="#{ticket.subtitulo}"></h4>
              <h6 class="card-subtitle" th:text="#{ticket.titulo}"></h6>
              
               <div class="row">
        		<div class="col-4">
			  		<input class="form-control" id="filtroInputId" type="text" th:placeholder="#{etiqueta.busqueda}"/>
			  	</div>
			 </div>
								 
              <div class="table-responsive">
                <table id="ticketsTableId" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                  <thead>
                    <tr>
                      <th th:text="#{ticket.nombre}"></th>
                      <th th:text="#{ticket.tipoticket}"></th>
                      <th th:text="#{ticket.estatus}"></th>
                      <th th:text="#{ticket.fechacreacion}"></th>
                      <th th:text="#{tabla.accion}"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <th:block th:each="ticket : ${tickets}">
                      <tr>
                        <td th:text="${ticket.titulo}"></td>
                        <td th:text="${ticket.tipoTicketNombre}"></td>
                        <!-- td th:text="${ticket.estatus}"></td-->
                        <td>
                        	<div th:if="${ticket.retraso} and ${ticket.estatus} != 'ATENDIDO'">
                        	<span class="text-danger" th:text="${ticket.estatus}"></span>
                        	</div>
		                	<div th:unless="${ticket.retraso}" th:switch="${ticket.estatus}"> 
								<span th:case="'ATENDIDO'" class="text-success" th:text="${ticket.estatus}"></span>
								<span th:case="'ASIGNADO'" class="text-warning" th:text="${ticket.estatus}"></span>
								<span th:case="'ABIERTO'" class="text-warning" th:text="${ticket.estatus}"></span>
								<span th:case="'ACEPTADO'" class="text-warning" th:text="${ticket.estatus}"></span>
								<span th:case="'RECHAZADO'" class="text-danger" th:text="${ticket.estatus}"></span>
								<span th:case="'CANCELADO'" class="text-danger" th:text="${ticket.estatus}"></span>
							</div>
						</td>
                        <td th:text="${ticket.fechaCreacion}"></td>
                        <td>
                          <a th:href="${'ticket-detalle/'  + ticket.id}" class="btn btn-sm btn-icon btn-pure btn-outline"> <i class="fa fa-info text-inverse m-r-10" aria-hidden="true"></i></a>
                        </td>
                      </tr>
                    </th:block>
                  </tbody>
                  <tfoot>
                    <tr>
                    <td colspan="2">
                    	<a  sec:authorize="hasAuthority('ABRIR_TICKET')" th:href="@{/ticket-crear}" class="btn btn-info-gesco waves-effect" th:text="#{boton.nuevo}"></a>
                    </td>
                      <td colspan="6">
                        <div class="text-right">
                          <ul class="pagination">
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <div class="col-md-4">
                  <div class="card card-body">
                    <div id="modalEliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel"></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-rounded btn-info waves-effect" data-dismiss="modal" th:text="#{boton.cerrar}"></button>
                            <a href="/#" class="btn btn-rounded btn-danger waves-effect"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
