<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{ticket.titulo}"></title>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
  addControlState(document.getElementById('divTipoTicket'),/*[[#{campo.requerido}]]*/);
  addControlState(document.getElementById('divDescripcion'),/*[[#{campo.requerido}]]*/);

});

function validaAreaServicio() {
		var idTipoTicket = $("#tipoTicketId").val();
		if(idTipoTicket == 3){
		    $('#divAreaServicio').css('display', 'block');
		}else{
			$('#divAreaServicio').css('display', 'none');
		}

	}
/*]]>*/
</script>
</head>
<body>
  <div layout:fragment="content">
    <div class="container-fluid">
      <div class="row page-titles">
               <div class="col-md-6 col-8 align-self-center">
          <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{ticket.titulo.principal}"></h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-gesco-secundario" th:href="@{/tickets}" th:text="#{ticket.titulo.principal}"></a></li>
            <li class="breadcrumb-item active" th:text="#{ticket.crear.titulo}"></li>
          </ol>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <form name="crearTicketForm" action="#" enctype="multipart/form-data" th:action="@{/ticket}" th:object="${ticketDto}" method="post">
          	<div class="alert alert-danger" th:if="${error}"> <i class="ti-na"></i> <span class="form-control-feedback" th:text="${error}"></span>
	            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
	        </div>
            <input type="hidden" class="form-control" th:field="*{id}" />
            <div class="form-body">
              <h3 class="card-title" th:text="#{ticket.crear.subtitulo}"></h3>
              <hr>
              <div class="row">
                <div id="divTipoTicket" class="col-md-4 form-group" th:classappend="${#fields.hasErrors('tipoTicketId')}? 'has-danger'">
                  <label class="form-control-label" th:text="#{ticket.tipoticket}"></label>
                  <select name="tipoTicketId" id="tipoTicketId" class="form-control" th:field="*{tipoTicketId}" onchange="validaAreaServicio();" required>
                    <option selected="selected" value="" th:text="#{etiqueta.seleccione}"></option>
                    <option th:each="tipoTicket : ${session.tipoTicket}" th:value="${tipoTicket.id}" th:text="${tipoTicket.nombre}"></option>
                  </select>
                  <span class="form-control-feedback">
                    <span th:if="${#fields.hasErrors('tipoTicketId')}" th:errors="*{tipoTicketId}"></span>
                  </span>
                </div>
                <div id="divCarga" class="col-md-4 form-group">
				 <label class="form-control-label" th:text="#{ticket.evidencia}"></label>
				 <input type="file" name="file" id="file" class="form-control"/> 
                </div>
                <div id="divAreaServicio" style="display:none" class="col-md-4 form-group" th:classappend="${#fields.hasErrors('areaServicioId')}? 'has-danger'">
                  <label class="form-control-label" th:text="#{ticket.areaservicio}"></label>
                  <select name="areaServicioId" id="areaServicioId" class="form-control" th:field="*{areaServicioId}">
                    <option selected="selected" value="" th:text="#{etiqueta.seleccione}"></option>
                    <option th:each="areaServicio : ${session.areaServicio}" th:value="${areaServicio.id}" th:text="${areaServicio.nombre}"></option>
                  </select>
                  <span class="form-control-feedback">
                    <span th:if="${#fields.hasErrors('areaServicioId')}" th:errors="*{areaServicioId}"></span>
                  </span>
                </div>                 
                <!-- div id="divGuarda" class="col-md-1 form-group" th:classappend="${#fields.hasErrors('titulo')}? ' has-danger'">
				 <label class="form-control-label"></label>
				 <button type="submit" class="btn btn-info-gesco waves-effect m-r-10" th:text="#{boton.guardar}"></button>
                </div>
                <div id="divCancela" class="col-md-1 form-group" th:classappend="${#fields.hasErrors('titulo')}? ' has-danger'">
                <label class="form-control-label"></label>
				 <a th:href="@{/ticket-crear}" class="btn btn-secondary waves-effect" th:text="#{boton.cancelar}"></a>
                </div-->
              </div>
              <div class="row">
                <div id="divDescripcion" class="col-md-12 form-group" th:classappend="${#fields.hasErrors('descripcion')}? ' has-danger'">
                  <label class="form-control-label" th:text="#{ticket.descripcion}"></label>
                  <textarea name="descripcion" class="form-control" th:field="*{descripcion}" maxlength="4000" rows="10" required></textarea>
                  <span class="form-control-feedback">
                    <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
                  </span>
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-info-gesco" th:text="#{boton.guardar}"></button>
                <a th:href="@{/tickets}" class="btn btn-secondary" th:text="#{boton.cancelar}"></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
