<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{home.title}"></title>
<script th:inline="javascript">
	
</script>
</head>
<body>
	<div layout:fragment="content">
	

		<!-- ============================================================== -->
		<!-- NUESTROS CLIENTES INICIO-->
		<!-- ============================================================== -->	

          <div class="row" style=" padding: 30px; background: url(../../assets/images/background/megamenubg.jpg) no-repeat right bottom #fff;">
			<div class="col-12">
				<div class="text-center" >
                    <h2 class="title text-megna">Nuestros Clientes</h2>
                    <h6 class="subtitle text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa</h6>
                </div>
                	<h4 class="m-b-20">Nuestros Clientes</h4>
                    <!-- List style -->
                    <ul class="list-style-none">
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Lorem ipsum</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Lorem ipsum</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Lorem ipsum </a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Lorem ipsum</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Lorem ipsum</a></li>
                    </ul>
			</div>
		</div>
		
		<div class="container-fluid">
		 <div class="card-columns el-element-overlay">
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/big/img5.jpg"> <img src="../assets/images/big/img5.jpg" alt="user" /> </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> <img src="../assets/images/users/1.jpg" alt="user" /> </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/2.jpg"> <img src="../assets/images/users/2.jpg" alt="user" /> </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/big/img4.jpg"> <img src="../assets/images/big/img4.jpg" alt="user" /> </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/big/img2.jpg"> <img src="../assets/images/big/img2.jpg" alt="user" /> </a>
                                
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> <img src="../assets/images/big/img1.jpg" alt="user" /> </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                </div>
                
                </div>
                
        <!-- ============================================================== -->
		<!-- NUESTROS CLIENTES FIN-->
		<!-- ============================================================== -->	
		
		
	</div>
</body>
</html>