<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{home.title}"></title>
<script th:inline="javascript">
	
</script>
</head>
<body>
	<div layout:fragment="content">
			
		<!-- ============================================================== -->
		<!-- SUCURSALES INICIO-->
		<!-- ============================================================== -->
	
          <div class="row" style=" padding: 30px; background: url(../../assets/images/background/megamenubg.jpg) no-repeat right bottom #fff;">
			<div class="col-12">
				<div class="text-center" >
                    <h2 class="title text-megna">Sucursales</h2>
                    <h6 class="subtitle text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa</h6>
                </div>
                	<h4 class="m-b-20">Sucursales<</h4>
                    <!-- List style -->
                    <ul class="list-style-none">
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Sucursal</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Sucursal</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Sucursal</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Sucursal</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Sucursal</a></li>
                    </ul>
			</div>
		</div>
		

				<div class="container-fluid">
			
					<div class="row">
                            <div class="col-lg-6 col-md-4 col-sm-3 col-xs-12">
                                <div class="ribbon-wrapper card animated fadeInLeft">
                                    <div class="ribbon ribbon-bookmark  ribbon-info">Sucursal 1</div>
                                    <div class="row  d-flex justify-content-center  m-t-40">
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/assets.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Dirección</h6>
		                                             <p class="">601 Sherwood Ave.
		                                             <br> San Bernandino</p>
		                                         </div>
		                                 </div>
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/staff.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Telefono</h6>
		                                             <p class="">251 546 9442
		                                             <br> 630 446 8851</p>
		                                         </div>
		                                 </div>
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/expense.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Correo Electrónico</h6>
		                                             <p class="">info@gmail.com
		                                             <br> 123@gmail.com</p>
		                                         </div>
		                                 </div>
		                             </div>
		                             
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-4 col-sm-3 col-xs-12">
                                <div class="ribbon-wrapper-reverse card animated fadeInLeft">
                                    <div class="ribbon ribbon-bookmark  ribbon-info">Sucursal 1</div>
                                       <div class="row  d-flex justify-content-center  m-t-40">
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/assets.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Dirección</h6>
		                                             <p class="">601 Sherwood Ave.
		                                             <br> San Bernandino</p>
		                                         </div>
		                                 </div>
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/staff.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Telefono</h6>
		                                             <p class="">251 546 9442
		                                             <br> 630 446 8851</p>
		                                         </div>
		                                 </div>
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/expense.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Correo Electrónico</h6>
		                                             <p class="">info@gmail.com
		                                             <br> 123@gmail.com</p>
		                                         </div>
		                                 </div>
		                             </div>
                                </div>
                            </div>
                            
                        </div>
                        
                  <div class="row">
                            <div class="col-lg-6 col-md-4 col-sm-3 col-xs-12">
                            	<div class="card">
		                            <div class="card-body">
		                                <h4 class="card-title">Sucursal 1</h4>
		                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.433571051594!2d-99.1767864846798!3d19.39366398690653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff718f4416e1%3A0x6e35698f0852629c!2sWorld+Trade+Center+Ciudad+de+M%C3%A9xico!5e0!3m2!1ses-419!2smx!4v1535393994443" width="100%" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
		                            </div>
		                        </div>
                            </div>
                            <div class="col-lg-6 col-md-4 col-sm-3 col-xs-12 ">
                            	<div class="card">
		                            <div class="card-body">
		                                <h4 class="card-title">Sucursal 2</h4>
		                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.836212715903!2d-99.19164448467937!3d19.419481486891808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff574549573f%3A0x42e2e5c1a219c3af!2sBosque+de+Chapultepec!5e0!3m2!1ses-419!2smx!4v1535394203436" width="100%" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
		                            </div>
		                        </div>
                            </div>
                  </div>
			
			</div>
	
		<!-- ============================================================== -->
		<!-- SUCURSALES FIN-->
		<!-- ============================================================== -->
	

		
		
	</div>
</body>
</html>
